*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container7{
  width: 100%;
  height: 659px;
  background-image: url(div.jpg);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}
.header10{
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
}
.menu-icon{
  margin-left: 102px;
  color: #524724;
}
.logo{
  margin-left: 66px;
  color: rgba(51, 39, 0, 0.85);
  font-family: helvetica Neue;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

}
.header-navigation{
  margin-left: 390px;
}
.header-navigation a{
  margin-right: 35px;
  text-decoration: none;
  color: rgba(138, 106, 0, 0.95);
  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;
  transition: 0.1s;
}
.header-navigation a:hover{
  color: rgba(255, 196, 4, 0.9);
  text-decoration: underline;
}
.sign-up{
  width: 107px;
  height: 26px;
  border-radius: 5px;
  border: none;
  background: #ffcc54;
  box-shadow: 0px 0.5px 10px 0px rgba(51, 39, 0, 0.50) ;
  align-items: center;
  text-align: center;
  color: #524724;
}
.sign-up:hover{
  background-color: #524724;
  color: #ffcc54;
}
.education{
  width: 568px;
  height: 87px;
  flex-shrink: 0;
  color: rgba(51, 39, 0, 0.90);
  font-family: Helvetica Neue;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 100px;
  margin-right: 772px;
  padding-top: 190px;
 
  }
  .education span{
  color: #DE6101;
  font-family: Helvetica Neue;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.72px;
}
.legacy{
  width: 422px;
  height: 88px;
  margin-left: 100px;
  padding-top: 60px;
  color: rgba(51, 39, 0, 0.90);
  font-family: Helvetica Neue;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.72px;
}
.legacy span{
  color: #8A6A00;
 }
 .write-up{
  width: 380px;
  height: 85px;
  margin-left: 100px;
  padding-top: 60px;
  color:rgba(51, 39, 0, 0.70);;
 }
 .google-play{
    width: 271px;
    height: 72px;
    display: flex;
    margin-left: 130px;
   margin-top: 140px;
 }
 /* second section begins here*/
 .container{
  width: 100%;
  height: 1300px;
  background: #FFFBF0;;
}
.container2{
  width: 100%;
  height: 700px;
  display: flex;
  column-gap: 60px;
  
}
.main{
  width: 50%;
  height: 700px;
  display: flex;
  flex-direction: column;

}
.platform{
  margin-left: 114px;
  margin-top: 280px;
  width: 500px;
  color: rgba(51, 39, 0, 0.90);
  font-family: Helvetica Neue;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.32px;
  text-align: left;
}
.text3{
  margin-left: 114px;
  margin-top: 50px;
  width: 500px;
  color: rgba(0, 0, 0, 0.70);
  font-family: Helvetica Neue;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.16px;
}
.get-started button{
  margin-left: 114px;
  margin-top: 40px;
  border: none;
  border-radius: 15px;
  background: #FFCC54;
  display: inline-flex;
  padding: 15px 35px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #332700;
  font-family: Helvetica Neue;
  font-size: 34.023px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.34px;
  cursor: pointer;
  transition: 0.1s;

}
.get-started button:hover{
  background-color: #332700;
  color: #FFCC54;
}
.aside{
  width: 50%;
  height: 700px;
  display: flex;
}
.first{
  position: absolute;
  margin-top: 200px;
}
.second{
  position: absolute;
  margin-left: 341px;
  margin-top: 100px;
}
.third{
  position: absolute;
  margin-top: 610px;
  margin-left: 50px;
}
.fourth{
  position: absolute;
  margin-top: 500px;
  margin-left: 300px;
}
.fifth{
  position: absolute;
  margin-top: 205px;
}
.girl{
  position: relative;
  margin-top: 0px;
  margin-left: 10px;
}
.two{
  width: 80%;
  height: 50px;
  margin: 10% auto;
  margin-top: 200px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

.two h3{
  margin-right: 400px;
  color: rgba(51, 39, 0, 0.90);
  font-family: Helvetica Neue;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.32px;
}
.circle1{
  margin-right: 10px;
  cursor: pointer;
}
.circle1:hover{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(233, 225, 216);
}
.circle2{
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.circle2:hover{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(233, 225, 216);
}
.gallery{
  width: 80%;
  height: 400px;
  margin: 10% auto;
  margin-top: 30px;
  display: flex;
  gap: 33px;
  }
  .rectangle1{
    width: 346px;
    height: 360px;
    margin-top: 10px;
    border-radius: 18.856px;
    background: rgba(254, 227, 207, 0.50);
    box-shadow: 4px 4px 10px 0px #FFEFDF;
    background: #FEE3CF80;
    justify-content: center;
    align-items: center;
  }
  .elipse1{
    position: absolute;
    margin-left: 118px;
    margin-top: 61px;
  }
  .book{
    position: relative;
    margin-left: 140px;
    margin-top: 80px;
  }
  .gallery h3{
    margin-top: 30px;
    text-align: center;
    color: rgba(71, 60, 24, 0.85);
    font-family: Helvetica Neue;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.22px;
  }
  .gallery p{
    text-align: center;
    margin: 20px 20px;
    color: rgba(71, 60, 24, 0.75);
    font-family: Helvetica Neue;
    font-size: 14.5px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.145px;
  }
  .rectangle2{
    width: 367px;
    height: 382px;
    background: #4F92B6F2;
    border-radius: 20px;
    background: rgba(79, 146, 182, 0.95);
    box-shadow: 4px 4px 20px 0px rgba(79, 146, 182, 0.70);
    justify-content: center;
  }
  .eclipse71{
    position: absolute;
    margin-top: 43px;
    margin-left: 107px;
    
  }
  .fluent{
    margin-top: 70px;
    margin-left: 133px;
  }
  .rectangle2 h3{
    color: #EEE6DC;
    font-family: Helvetica Neue;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.22px;
  }
  .rectangle2 p{
    color: rgba(238, 230, 220, 0.90);
    font-family: Helvetica Neue;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.16px;
    margin: 20px 22px;
  }
  
  .rectangle3{
    width: 346px;
    height: 360px;
    margin-top: 10px;
    background: #FEE3CF80;
    border-radius: 18.856px;
    background: rgba(254, 227, 207, 0.50);
    box-shadow: 4px 4px 10px 0px #FFEFDF;
  }
